.navbar-inverse {
    background-color:#5182bf;
    border-color: #5182bf;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #0d276f
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 4px solid 
}
