.page-btn{
	margin-top: 120px;
	padding-left: 10px;
}
.page-1{
margin-top: 120px;
	padding-left: 10px;	
}
.page-2{
margin-top: 120px;
	padding-left: 10px;	
}
.page-3{
margin-top: 120px;
	padding-left: 10px;	
}
.page-4{
margin-top: 120px;
	padding-left: 10px;	
}
.page-5{
margin-top: 120px;
	padding-left: 10px;	
}
.pager-btn{
	margin-top:75px;
}