<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js">
	</script>
	<script type="text/javascript">
		var myApp = angular.module("myApp", []);

		myApp.controller('employee', function($scope) {
			$scope.isChecked = false;
			$scope.employeeList = [{empName:'ilango', empID:'203', Salary:'10000'},
			{empName:'srini', empID:'204', Salary:'10000'},
			{empName:'deepak', empID:'205', Salary:'10000'},
			{empName:'rio', empID:'206', Salary:'10000'}];
		});
	
	</script>

</head>
<body ng-app="myApp">
	<div ng-controller="employee">
		<input type="checkbox" ng-model="isChecked"> NG SHOW example, check the checkbox </input>
		<br/>
		<table ng-show="isChecked">
			<thead>
				<td>Employee Name</td>
				<td>Employee Id</td>
				<td>Employee Salary</td>
			</thead>
			<tbody>
				<tr ng-repeat="emp in employeeList">
					<td>{{emp.empName}}</td>
					<td>{{emp.empID}}</td>
					<td>{{emp.Salary}}</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>


<html>
